* {
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  margin-bottom: 0; }

section {
  padding-top: 60px;
  padding-bottom: 60px; }
section .headline {
  margin-bottom: 60px; }
section .headline h1 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 0; }
section .headline hr {
  border-top: 1px solid #000;
  width: 100px; }
section .headline.light h1 {
  color: #fff; }
section .headline.light hr {
  border-color: #fff; }
section.noMargin {
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px; }

.swiper-container, .swiper-slide {
  width: 100%;
  height: 560px; }

button, .btn {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  font-size: 12px;
  background-color: transparent;
  box-shadow: inset 0 50px 0 0 #0c508a;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 15px 30px;
  cursor: pointer;
  border: 1px solid #0c508a; }
button:focus, .btn:focus {
  outline: none; }
button:hover, .btn:hover {
  box-shadow: inset 0 0 0 0 #0c508a;
  color: #fff; }
button.alternate, .btn.alternate {
  box-shadow: inset 0 0 0 0 #fff;
  border-color: #fff; }
button.alternate:hover, .btn.alternate:hover {
  color: #0c508a;
  box-shadow: inset 0 -50px 0 0 #fff; }
button.red, .btn.red {
  box-shadow: inset 0 50px 0 0 #0c508a;
  border-color: #0c508a; }
button.red:hover, .btn.red:hover {
  color: #fff;
  box-shadow: inset 0 0 0 0 #0c508a; }

/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot_v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot_") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff_v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf_v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg_v=4.1.0") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571429em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none; }

.fa-ul > li {
  position: relative; }

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center; }

.fa-li.fa-lg {
  left: -1.85714286em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1); }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #ffffff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000"; }

.fa-music:before {
  content: "\f001"; }

.fa-search:before {
  content: "\f002"; }

.fa-envelope-o:before {
  content: "\f003"; }

.fa-heart:before {
  content: "\f004"; }

.fa-star:before {
  content: "\f005"; }

.fa-star-o:before {
  content: "\f006"; }

.fa-user:before {
  content: "\f007"; }

.fa-film:before {
  content: "\f008"; }

.fa-th-large:before {
  content: "\f009"; }

.fa-th:before {
  content: "\f00a"; }

.fa-th-list:before {
  content: "\f00b"; }

.fa-check:before {
  content: "\f00c"; }

.fa-times:before {
  content: "\f00d"; }

.fa-search-plus:before {
  content: "\f00e"; }

.fa-search-minus:before {
  content: "\f010"; }

.fa-power-off:before {
  content: "\f011"; }

.fa-signal:before {
  content: "\f012"; }

.fa-gear:before,
.fa-cog:before {
  content: "\f013"; }

.fa-trash-o:before {
  content: "\f014"; }

.fa-home:before {
  content: "\f015"; }

.fa-file-o:before {
  content: "\f016"; }

.fa-clock-o:before {
  content: "\f017"; }

.fa-road:before {
  content: "\f018"; }

.fa-download:before {
  content: "\f019"; }

.fa-arrow-circle-o-down:before {
  content: "\f01a"; }

.fa-arrow-circle-o-up:before {
  content: "\f01b"; }

.fa-inbox:before {
  content: "\f01c"; }

.fa-play-circle-o:before {
  content: "\f01d"; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e"; }

.fa-refresh:before {
  content: "\f021"; }

.fa-list-alt:before {
  content: "\f022"; }

.fa-lock:before {
  content: "\f023"; }

.fa-flag:before {
  content: "\f024"; }

.fa-headphones:before {
  content: "\f025"; }

.fa-volume-off:before {
  content: "\f026"; }

.fa-volume-down:before {
  content: "\f027"; }

.fa-volume-up:before {
  content: "\f028"; }

.fa-qrcode:before {
  content: "\f029"; }

.fa-barcode:before {
  content: "\f02a"; }

.fa-tag:before {
  content: "\f02b"; }

.fa-tags:before {
  content: "\f02c"; }

.fa-book:before {
  content: "\f02d"; }

.fa-bookmark:before {
  content: "\f02e"; }

.fa-print:before {
  content: "\f02f"; }

.fa-camera:before {
  content: "\f030"; }

.fa-font:before {
  content: "\f031"; }

.fa-bold:before {
  content: "\f032"; }

.fa-italic:before {
  content: "\f033"; }

.fa-text-height:before {
  content: "\f034"; }

.fa-text-width:before {
  content: "\f035"; }

.fa-align-left:before {
  content: "\f036"; }

.fa-align-center:before {
  content: "\f037"; }

.fa-align-right:before {
  content: "\f038"; }

.fa-align-justify:before {
  content: "\f039"; }

.fa-list:before {
  content: "\f03a"; }

.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b"; }

.fa-indent:before {
  content: "\f03c"; }

.fa-video-camera:before {
  content: "\f03d"; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e"; }

.fa-pencil:before {
  content: "\f040"; }

.fa-map-marker:before {
  content: "\f041"; }

.fa-adjust:before {
  content: "\f042"; }

.fa-tint:before {
  content: "\f043"; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044"; }

.fa-share-square-o:before {
  content: "\f045"; }

.fa-check-square-o:before {
  content: "\f046"; }

.fa-arrows:before {
  content: "\f047"; }

.fa-step-backward:before {
  content: "\f048"; }

.fa-fast-backward:before {
  content: "\f049"; }

.fa-backward:before {
  content: "\f04a"; }

.fa-play:before {
  content: "\f04b"; }

.fa-pause:before {
  content: "\f04c"; }

.fa-stop:before {
  content: "\f04d"; }

.fa-forward:before {
  content: "\f04e"; }

.fa-fast-forward:before {
  content: "\f050"; }

.fa-step-forward:before {
  content: "\f051"; }

.fa-eject:before {
  content: "\f052"; }

.fa-chevron-left:before {
  content: "\f053"; }

.fa-chevron-right:before {
  content: "\f054"; }

.fa-plus-circle:before {
  content: "\f055"; }

.fa-minus-circle:before {
  content: "\f056"; }

.fa-times-circle:before {
  content: "\f057"; }

.fa-check-circle:before {
  content: "\f058"; }

.fa-question-circle:before {
  content: "\f059"; }

.fa-info-circle:before {
  content: "\f05a"; }

.fa-crosshairs:before {
  content: "\f05b"; }

.fa-times-circle-o:before {
  content: "\f05c"; }

.fa-check-circle-o:before {
  content: "\f05d"; }

.fa-ban:before {
  content: "\f05e"; }

.fa-arrow-left:before {
  content: "\f060"; }

.fa-arrow-right:before {
  content: "\f061"; }

.fa-arrow-up:before {
  content: "\f062"; }

.fa-arrow-down:before {
  content: "\f063"; }

.fa-mail-forward:before,
.fa-share:before {
  content: "\f064"; }

.fa-expand:before {
  content: "\f065"; }

.fa-compress:before {
  content: "\f066"; }

.fa-plus:before {
  content: "\f067"; }

.fa-minus:before {
  content: "\f068"; }

.fa-asterisk:before {
  content: "\f069"; }

.fa-exclamation-circle:before {
  content: "\f06a"; }

.fa-gift:before {
  content: "\f06b"; }

.fa-leaf:before {
  content: "\f06c"; }

.fa-fire:before {
  content: "\f06d"; }

.fa-eye:before {
  content: "\f06e"; }

.fa-eye-slash:before {
  content: "\f070"; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071"; }

.fa-plane:before {
  content: "\f072"; }

.fa-calendar:before {
  content: "\f073"; }

.fa-random:before {
  content: "\f074"; }

.fa-comment:before {
  content: "\f075"; }

.fa-magnet:before {
  content: "\f076"; }

.fa-chevron-up:before {
  content: "\f077"; }

.fa-chevron-down:before {
  content: "\f078"; }

.fa-retweet:before {
  content: "\f079"; }

.fa-shopping-cart:before {
  content: "\f07a"; }

.fa-folder:before {
  content: "\f07b"; }

.fa-folder-open:before {
  content: "\f07c"; }

.fa-arrows-v:before {
  content: "\f07d"; }

.fa-arrows-h:before {
  content: "\f07e"; }

.fa-bar-chart-o:before {
  content: "\f080"; }

.fa-twitter-square:before {
  content: "\f081"; }

.fa-facebook-square:before {
  content: "\f082"; }

.fa-camera-retro:before {
  content: "\f083"; }

.fa-key:before {
  content: "\f084"; }

.fa-gears:before,
.fa-cogs:before {
  content: "\f085"; }

.fa-comments:before {
  content: "\f086"; }

.fa-thumbs-o-up:before {
  content: "\f087"; }

.fa-thumbs-o-down:before {
  content: "\f088"; }

.fa-star-half:before {
  content: "\f089"; }

.fa-heart-o:before {
  content: "\f08a"; }

.fa-sign-out:before {
  content: "\f08b"; }

.fa-linkedin-square:before {
  content: "\f08c"; }

.fa-thumb-tack:before {
  content: "\f08d"; }

.fa-external-link:before {
  content: "\f08e"; }

.fa-sign-in:before {
  content: "\f090"; }

.fa-trophy:before {
  content: "\f091"; }

.fa-github-square:before {
  content: "\f092"; }

.fa-upload:before {
  content: "\f093"; }

.fa-lemon-o:before {
  content: "\f094"; }

.fa-phone:before {
  content: "\f095"; }

.fa-square-o:before {
  content: "\f096"; }

.fa-bookmark-o:before {
  content: "\f097"; }

.fa-phone-square:before {
  content: "\f098"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-facebook:before {
  content: "\f09a"; }

.fa-github:before {
  content: "\f09b"; }

.fa-unlock:before {
  content: "\f09c"; }

.fa-credit-card:before {
  content: "\f09d"; }

.fa-rss:before {
  content: "\f09e"; }

.fa-hdd-o:before {
  content: "\f0a0"; }

.fa-bullhorn:before {
  content: "\f0a1"; }

.fa-bell:before {
  content: "\f0f3"; }

.fa-certificate:before {
  content: "\f0a3"; }

.fa-hand-o-right:before {
  content: "\f0a4"; }

.fa-hand-o-left:before {
  content: "\f0a5"; }

.fa-hand-o-up:before {
  content: "\f0a6"; }

.fa-hand-o-down:before {
  content: "\f0a7"; }

.fa-arrow-circle-left:before {
  content: "\f0a8"; }

.fa-arrow-circle-right:before {
  content: "\f0a9"; }

.fa-arrow-circle-up:before {
  content: "\f0aa"; }

.fa-arrow-circle-down:before {
  content: "\f0ab"; }

.fa-globe:before {
  content: "\f0ac"; }

.fa-wrench:before {
  content: "\f0ad"; }

.fa-tasks:before {
  content: "\f0ae"; }

.fa-filter:before {
  content: "\f0b0"; }

.fa-briefcase:before {
  content: "\f0b1"; }

.fa-arrows-alt:before {
  content: "\f0b2"; }

.fa-group:before,
.fa-users:before {
  content: "\f0c0"; }

.fa-chain:before,
.fa-link:before {
  content: "\f0c1"; }

.fa-cloud:before {
  content: "\f0c2"; }

.fa-flask:before {
  content: "\f0c3"; }

.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4"; }

.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5"; }

.fa-paperclip:before {
  content: "\f0c6"; }

.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7"; }

.fa-square:before {
  content: "\f0c8"; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9"; }

.fa-list-ul:before {
  content: "\f0ca"; }

.fa-list-ol:before {
  content: "\f0cb"; }

.fa-strikethrough:before {
  content: "\f0cc"; }

.fa-underline:before {
  content: "\f0cd"; }

.fa-table:before {
  content: "\f0ce"; }

.fa-magic:before {
  content: "\f0d0"; }

.fa-truck:before {
  content: "\f0d1"; }

.fa-pinterest:before {
  content: "\f0d2"; }

.fa-pinterest-square:before {
  content: "\f0d3"; }

.fa-google-plus-square:before {
  content: "\f0d4"; }

.fa-google-plus:before {
  content: "\f0d5"; }

.fa-money:before {
  content: "\f0d6"; }

.fa-caret-down:before {
  content: "\f0d7"; }

.fa-caret-up:before {
  content: "\f0d8"; }

.fa-caret-left:before {
  content: "\f0d9"; }

.fa-caret-right:before {
  content: "\f0da"; }

.fa-columns:before {
  content: "\f0db"; }

.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc"; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd"; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de"; }

.fa-envelope:before {
  content: "\f0e0"; }

.fa-linkedin:before {
  content: "\f0e1"; }

.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2"; }

.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3"; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4"; }

.fa-comment-o:before {
  content: "\f0e5"; }

.fa-comments-o:before {
  content: "\f0e6"; }

.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7"; }

.fa-sitemap:before {
  content: "\f0e8"; }

.fa-umbrella:before {
  content: "\f0e9"; }

.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea"; }

.fa-lightbulb-o:before {
  content: "\f0eb"; }

.fa-exchange:before {
  content: "\f0ec"; }

.fa-cloud-download:before {
  content: "\f0ed"; }

.fa-cloud-upload:before {
  content: "\f0ee"; }

.fa-user-md:before {
  content: "\f0f0"; }

.fa-stethoscope:before {
  content: "\f0f1"; }

.fa-suitcase:before {
  content: "\f0f2"; }

.fa-bell-o:before {
  content: "\f0a2"; }

.fa-coffee:before {
  content: "\f0f4"; }

.fa-cutlery:before {
  content: "\f0f5"; }

.fa-file-text-o:before {
  content: "\f0f6"; }

.fa-building-o:before {
  content: "\f0f7"; }

.fa-hospital-o:before {
  content: "\f0f8"; }

.fa-ambulance:before {
  content: "\f0f9"; }

.fa-medkit:before {
  content: "\f0fa"; }

.fa-fighter-jet:before {
  content: "\f0fb"; }

.fa-beer:before {
  content: "\f0fc"; }

.fa-h-square:before {
  content: "\f0fd"; }

.fa-plus-square:before {
  content: "\f0fe"; }

.fa-angle-double-left:before {
  content: "\f100"; }

.fa-angle-double-right:before {
  content: "\f101"; }

.fa-angle-double-up:before {
  content: "\f102"; }

.fa-angle-double-down:before {
  content: "\f103"; }

.fa-angle-left:before {
  content: "\f104"; }

.fa-angle-right:before {
  content: "\f105"; }

.fa-angle-up:before {
  content: "\f106"; }

.fa-angle-down:before {
  content: "\f107"; }

.fa-desktop:before {
  content: "\f108"; }

.fa-laptop:before {
  content: "\f109"; }

.fa-tablet:before {
  content: "\f10a"; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b"; }

.fa-circle-o:before {
  content: "\f10c"; }

.fa-quote-left:before {
  content: "\f10d"; }

.fa-quote-right:before {
  content: "\f10e"; }

.fa-spinner:before {
  content: "\f110"; }

.fa-circle:before {
  content: "\f111"; }

.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112"; }

.fa-github-alt:before {
  content: "\f113"; }

.fa-folder-o:before {
  content: "\f114"; }

.fa-folder-open-o:before {
  content: "\f115"; }

.fa-smile-o:before {
  content: "\f118"; }

.fa-frown-o:before {
  content: "\f119"; }

.fa-meh-o:before {
  content: "\f11a"; }

.fa-gamepad:before {
  content: "\f11b"; }

.fa-keyboard-o:before {
  content: "\f11c"; }

.fa-flag-o:before {
  content: "\f11d"; }

.fa-flag-checkered:before {
  content: "\f11e"; }

.fa-terminal:before {
  content: "\f120"; }

.fa-code:before {
  content: "\f121"; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122"; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123"; }

.fa-location-arrow:before {
  content: "\f124"; }

.fa-crop:before {
  content: "\f125"; }

.fa-code-fork:before {
  content: "\f126"; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127"; }

.fa-question:before {
  content: "\f128"; }

.fa-info:before {
  content: "\f129"; }

.fa-exclamation:before {
  content: "\f12a"; }

.fa-superscript:before {
  content: "\f12b"; }

.fa-subscript:before {
  content: "\f12c"; }

.fa-eraser:before {
  content: "\f12d"; }

.fa-puzzle-piece:before {
  content: "\f12e"; }

.fa-microphone:before {
  content: "\f130"; }

.fa-microphone-slash:before {
  content: "\f131"; }

.fa-shield:before {
  content: "\f132"; }

.fa-calendar-o:before {
  content: "\f133"; }

.fa-fire-extinguisher:before {
  content: "\f134"; }

.fa-rocket:before {
  content: "\f135"; }

.fa-maxcdn:before {
  content: "\f136"; }

.fa-chevron-circle-left:before {
  content: "\f137"; }

.fa-chevron-circle-right:before {
  content: "\f138"; }

.fa-chevron-circle-up:before {
  content: "\f139"; }

.fa-chevron-circle-down:before {
  content: "\f13a"; }

.fa-html5:before {
  content: "\f13b"; }

.fa-css3:before {
  content: "\f13c"; }

.fa-anchor:before {
  content: "\f13d"; }

.fa-unlock-alt:before {
  content: "\f13e"; }

.fa-bullseye:before {
  content: "\f140"; }

.fa-ellipsis-h:before {
  content: "\f141"; }

.fa-ellipsis-v:before {
  content: "\f142"; }

.fa-rss-square:before {
  content: "\f143"; }

.fa-play-circle:before {
  content: "\f144"; }

.fa-ticket:before {
  content: "\f145"; }

.fa-minus-square:before {
  content: "\f146"; }

.fa-minus-square-o:before {
  content: "\f147"; }

.fa-level-up:before {
  content: "\f148"; }

.fa-level-down:before {
  content: "\f149"; }

.fa-check-square:before {
  content: "\f14a"; }

.fa-pencil-square:before {
  content: "\f14b"; }

.fa-external-link-square:before {
  content: "\f14c"; }

.fa-share-square:before {
  content: "\f14d"; }

.fa-compass:before {
  content: "\f14e"; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150"; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151"; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152"; }

.fa-euro:before,
.fa-eur:before {
  content: "\f153"; }

.fa-gbp:before {
  content: "\f154"; }

.fa-dollar:before,
.fa-usd:before {
  content: "\f155"; }

.fa-rupee:before,
.fa-inr:before {
  content: "\f156"; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157"; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158"; }

.fa-won:before,
.fa-krw:before {
  content: "\f159"; }

.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a"; }

.fa-file:before {
  content: "\f15b"; }

.fa-file-text:before {
  content: "\f15c"; }

.fa-sort-alpha-asc:before {
  content: "\f15d"; }

.fa-sort-alpha-desc:before {
  content: "\f15e"; }

.fa-sort-amount-asc:before {
  content: "\f160"; }

.fa-sort-amount-desc:before {
  content: "\f161"; }

.fa-sort-numeric-asc:before {
  content: "\f162"; }

.fa-sort-numeric-desc:before {
  content: "\f163"; }

.fa-thumbs-up:before {
  content: "\f164"; }

.fa-thumbs-down:before {
  content: "\f165"; }

.fa-youtube-square:before {
  content: "\f166"; }

.fa-youtube:before {
  content: "\f167"; }

.fa-xing:before {
  content: "\f168"; }

.fa-xing-square:before {
  content: "\f169"; }

.fa-youtube-play:before {
  content: "\f16a"; }

.fa-dropbox:before {
  content: "\f16b"; }

.fa-stack-overflow:before {
  content: "\f16c"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-flickr:before {
  content: "\f16e"; }

.fa-adn:before {
  content: "\f170"; }

.fa-bitbucket:before {
  content: "\f171"; }

.fa-bitbucket-square:before {
  content: "\f172"; }

.fa-tumblr:before {
  content: "\f173"; }

.fa-tumblr-square:before {
  content: "\f174"; }

.fa-long-arrow-down:before {
  content: "\f175"; }

.fa-long-arrow-up:before {
  content: "\f176"; }

.fa-long-arrow-left:before {
  content: "\f177"; }

.fa-long-arrow-right:before {
  content: "\f178"; }

.fa-apple:before {
  content: "\f179"; }

.fa-windows:before {
  content: "\f17a"; }

.fa-android:before {
  content: "\f17b"; }

.fa-linux:before {
  content: "\f17c"; }

.fa-dribbble:before {
  content: "\f17d"; }

.fa-skype:before {
  content: "\f17e"; }

.fa-foursquare:before {
  content: "\f180"; }

.fa-trello:before {
  content: "\f181"; }

.fa-female:before {
  content: "\f182"; }

.fa-male:before {
  content: "\f183"; }

.fa-gittip:before {
  content: "\f184"; }

.fa-sun-o:before {
  content: "\f185"; }

.fa-moon-o:before {
  content: "\f186"; }

.fa-archive:before {
  content: "\f187"; }

.fa-bug:before {
  content: "\f188"; }

.fa-vk:before {
  content: "\f189"; }

.fa-weibo:before {
  content: "\f18a"; }

.fa-renren:before {
  content: "\f18b"; }

.fa-pagelines:before {
  content: "\f18c"; }

.fa-stack-exchange:before {
  content: "\f18d"; }

.fa-arrow-circle-o-right:before {
  content: "\f18e"; }

.fa-arrow-circle-o-left:before {
  content: "\f190"; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191"; }

.fa-dot-circle-o:before {
  content: "\f192"; }

.fa-wheelchair:before {
  content: "\f193"; }

.fa-vimeo-square:before {
  content: "\f194"; }

.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195"; }

.fa-plus-square-o:before {
  content: "\f196"; }

.fa-space-shuttle:before {
  content: "\f197"; }

.fa-slack:before {
  content: "\f198"; }

.fa-envelope-square:before {
  content: "\f199"; }

.fa-wordpress:before {
  content: "\f19a"; }

.fa-openid:before {
  content: "\f19b"; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c"; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d"; }

.fa-yahoo:before {
  content: "\f19e"; }

.fa-google:before {
  content: "\f1a0"; }

.fa-reddit:before {
  content: "\f1a1"; }

.fa-reddit-square:before {
  content: "\f1a2"; }

.fa-stumbleupon-circle:before {
  content: "\f1a3"; }

.fa-stumbleupon:before {
  content: "\f1a4"; }

.fa-delicious:before {
  content: "\f1a5"; }

.fa-digg:before {
  content: "\f1a6"; }

.fa-pied-piper-square:before,
.fa-pied-piper:before {
  content: "\f1a7"; }

.fa-pied-piper-alt:before {
  content: "\f1a8"; }

.fa-drupal:before {
  content: "\f1a9"; }

.fa-joomla:before {
  content: "\f1aa"; }

.fa-language:before {
  content: "\f1ab"; }

.fa-fax:before {
  content: "\f1ac"; }

.fa-building:before {
  content: "\f1ad"; }

.fa-child:before {
  content: "\f1ae"; }

.fa-paw:before {
  content: "\f1b0"; }

.fa-spoon:before {
  content: "\f1b1"; }

.fa-cube:before {
  content: "\f1b2"; }

.fa-cubes:before {
  content: "\f1b3"; }

.fa-behance:before {
  content: "\f1b4"; }

.fa-behance-square:before {
  content: "\f1b5"; }

.fa-steam:before {
  content: "\f1b6"; }

.fa-steam-square:before {
  content: "\f1b7"; }

.fa-recycle:before {
  content: "\f1b8"; }

.fa-automobile:before,
.fa-car:before {
  content: "\f1b9"; }

.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba"; }

.fa-tree:before {
  content: "\f1bb"; }

.fa-spotify:before {
  content: "\f1bc"; }

.fa-deviantart:before {
  content: "\f1bd"; }

.fa-soundcloud:before {
  content: "\f1be"; }

.fa-database:before {
  content: "\f1c0"; }

.fa-file-pdf-o:before {
  content: "\f1c1"; }

.fa-file-word-o:before {
  content: "\f1c2"; }

.fa-file-excel-o:before {
  content: "\f1c3"; }

.fa-file-powerpoint-o:before {
  content: "\f1c4"; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5"; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6"; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7"; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8"; }

.fa-file-code-o:before {
  content: "\f1c9"; }

.fa-vine:before {
  content: "\f1ca"; }

.fa-codepen:before {
  content: "\f1cb"; }

.fa-jsfiddle:before {
  content: "\f1cc"; }

.fa-life-bouy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd"; }

.fa-circle-o-notch:before {
  content: "\f1ce"; }

.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0"; }

.fa-ge:before,
.fa-empire:before {
  content: "\f1d1"; }

.fa-git-square:before {
  content: "\f1d2"; }

.fa-git:before {
  content: "\f1d3"; }

.fa-hacker-news:before {
  content: "\f1d4"; }

.fa-tencent-weibo:before {
  content: "\f1d5"; }

.fa-qq:before {
  content: "\f1d6"; }

.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7"; }

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8"; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9"; }

.fa-history:before {
  content: "\f1da"; }

.fa-circle-thin:before {
  content: "\f1db"; }

.fa-header:before {
  content: "\f1dc"; }

.fa-paragraph:before {
  content: "\f1dd"; }

.fa-sliders:before {
  content: "\f1de"; }

.fa-share-alt:before {
  content: "\f1e0"; }

.fa-share-alt-square:before {
  content: "\f1e1"; }

.fa-bomb:before {
  content: "\f1e2"; }

#loader {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #0b508a;
  text-align: center;
  padding-top: 25%;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 50px; }
#loader #loading-bar {
  width: 50%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 25%; }
#loader #loading-bar #inner {
  background-color: white;
  display: block;
  height: 1px;
  width: 0; }

body.loading #loader {
  opacity: 1; }

body.loaded #loader {
  opacity: 0;
  pointer-events: none; }

header .swiper-container {
  height: 700px;
  overflow: hidden;
  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 550px, 0 700px);*/
  z-index: 1; }
header .swiper-container .swiper-slide {
  text-align: center;
  padding-top: 200px;
  color: #fff;
  background-size: cover; }
header .swiper-container .swiper-slide h1 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 60px;
  font-weight: 100;
  text-transform: uppercase; }
header .swiper-container .swiper-slide h2 {
  font-size: 60px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  text-transform: uppercase; }
header .swiper-container .swiper-slide h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-weight: 300; }
header .swiper-container .swiper-slide img {
  margin: 20px auto; }
header .swiper-container .swiper-slide button {
  margin: 60px 10px; }
header .swiper-container .swiper-slide.video video {
  margin-top: -200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
header .swiper-controls {
  z-index: 3000;
  position: absolute;
  top: 0;
  width: 100%; }
header .swiper-controls .arrow {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  position: absolute;
  top: 275px;
  color: #fff;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  border-radius: 6px; }
header .swiper-controls .arrow .next_thumbnail, header .swiper-controls .arrow .prev_thumbnail {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  z-index: 4500;
  top: 0;
  height: 90px;
  width: 180px;
  background-size: cover; }
header .swiper-controls .arrow .prev_thumbnail {
  left: 80px; }
header .swiper-controls .arrow .next_thumbnail {
  right: 80px; }
header .swiper-controls .arrow:hover {
  padding: 10px 40px; }
header .swiper-controls .arrow:hover .next_thumbnail {
  opacity: 1;
  right: 95px; }
header .swiper-controls .arrow:hover .prev_thumbnail {
  opacity: 1;
  left: 95px; }
header .swiper-controls .arrow.left {
  left: 5%; }
header .swiper-controls .arrow.right {
  right: 5%; }
header .swiper-indicators {
  position: absolute;
  bottom: 150px;
  z-index: 5000;
  width: 100%;
  display: flex;
  justify-content: center; }
header .swiper-indicators .swiper-pagination-switch {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  display: inline-block;
  margin: 10px;
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 100%;
  border: 4px solid transparent; }
header .swiper-indicators .swiper-pagination-switch:hover {
  border: 4px solid #fff; }
header .swiper-indicators .swiper-pagination-switch.swiper-active-switch {
  background-color: #0c508a;
  border: 4px solid #fff; }

@-webkit-keyframes pulse_animation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.618; }
  100% {
    opacity: 1; } }

#header-shadow {
  background: url(http://www.bridgeeg.com/bridge/templates/insightfx/images/header-shadow.png) no-repeat scroll center 100% transparent;
  bottom: -42px;
  height: 42px;
  position: absolute;
  width: 100%;
}

header {
  position: relative;
  height: 700px; }
header .top-menu {
  position: fixed;
  top: 0;
  padding-bottom: 20px;
  width: 100%;
  z-index: 9999;
  background-image: url(../img/background1.jpg);
  background-size: cover;
  text-shadow: 0 2px 3px #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
header .top-menu.sticky {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
  background: rgba(252, 254, 253, 0.9);
}
header .top-menu.sticky .info {
  opacity: 0; }
header .top-menu.animated {
  -webkit-transition: 0.66s ease-in-out;
  -moz-transition: 0.66s ease-in-out;
  -o-transition: 0.66s ease-in-out;
  transition: 0.66s ease-in-out; }
header .top-menu .show-menu {
  display: none; }
header .logo {
  margin-top: 30px;
  height: 50px;
}
header .info {
  height: 80px;
  text-align: center;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
header .info .outer {
  border: 1px solid #fff;
  box-shadow: 0 0 1px 0 #fff;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  margin-top: 38px; }
header .info .outer:hover + #info-bubble {
  opacity: 1; }
header .info .inner {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #fff;
  margin-top: 3px;
  margin-left: 3px;
  text-align: center;
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 1000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: linear; }
header .info img {
  margin-left: 1px;
  margin-top: -4px; }
header .info #info-bubble {
  pointer-events: none;
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  opacity: 0;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  position: absolute;
  width: 180px; }
header .info #info-bubble h4 {
  color: #ed1651;
  text-align: center;
  margin-bottom: 20px; }
header nav a {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  color: #104F89; }
header nav a:hover {
  color: #414042;
  text-decoration: none; }
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right; }
header nav ul li {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding: 20px;
  padding-top: 40px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: inset 0 3px transparent;
  color: #fff; }
header nav ul li.active {
  box-shadow: inset 0 3px #414042; }
header nav ul li.active a {
  color: #414042; }
header .show-menu-li {
  visibility: collapse;
  padding: 0; }
header .mobileMenu {
  position: absolute;
  top: 0; }
header .mobileMenu #menu ul {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out; }
header .mobileMenu #menu ul li {
  pointer-events: none;
  display: block;
  text-align: center;
  opacity: 0; }
header .mobileMenu #menu ul li.show-menu-li {
  opacity: 1; }
header .mobileMenu #menu:target ul {
  background-color: rgba(237, 22, 81, 0.9); }
header .mobileMenu #menu:target ul li {
  opacity: 1; }
header .mobileMenu .show-menu-li {
  visibility: visible;
  display: block;
  opacity: 1; }
header .mobileMenu .show-menu {
  opacity: 1;
  visibility: visible;
  display: block;
  pointer-events: all;
  padding: 20px;
  padding-top: 40px; }

@media (max-width: 992px) {
  .info {
    display: none; }

  .logo-container {
    width: 100%;
    text-align: center; } }
section.services {
  padding-top: 120px;
  font-size: 1.285em;
  line-height: 1.66;
  font-weight: 300; }
section.services .carousel-caption {
  width: 100%;
  left: 0;
  bottom: 0; }
section.services .carousel-inner {
  min-height: 360px; }
section.services .description p {
  margin-top: 20px;
  text-align: left; }
section.services .description p:first-child {
  margin-top: 100px; }
section.services .title {
  text-align: center; }
section.services .title h4 {
  text-align: center;
  margin-bottom: 20px; }
section.services .title:before {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  content: '';
  display: block;
  width: 3px;
  height: 373px;
  background-color: #0c508a;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: rotate(-37deg); }
section.services .title .icon {
  position: relative;
  margin-left: 30px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  width: 300px;
  height: 300px;
  border-radius: 300px; }
section.services .title .fa {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  margin: auto;
  margin-top: 78px;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  background-color: #0c508a;
  padding: 40px;
  max-width: 140px;
  max-height: 140px;
  border-radius: 100px; }
section.services .title:hover:before {
  -webkit-transform: rotate(-143deg); }
section.services .title:hover .fa {
  -webkit-transform: scale(1.218);
  background-color: #0c508a; }
section.services .controller hr {
  border-top: 1px dotted #dadada;
  width: 94%;
  margin-bottom: 10px; }
section.services .controller ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between; }
section.services .controller ul li .number {
  -webkit-transition: 0.16s ease-in-out;
  -moz-transition: 0.16s ease-in-out;
  -o-transition: 0.16s ease-in-out;
  transition: 0.16s ease-in-out;
  color: #afafaf;
  font-weight: 400;
  display: inline-block;
  width: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 20px;
  border: 1px solid #dadada; }
section.services .controller ul li .number:hover {
  background-color: #e6e6e6;
  color: #afafaf;
  border: 1px solid transparent; }
section.services .controller ul li.active .number {
  background-color: #e6e6e6;
  color: #afafaf;
  border: 1px solid transparent; }
section.services .controller ul li:before {
  content: '';
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  margin-left: 50%;
  margin-bottom: 10px; }

@media (min-width: 992px) and (max-width: 1199px) {
  section.services .title {
    margin-top: 80px; }
  section.services .title:before {
    top: -33px; }
  section.services .title .icon {
    margin-left: 318px; } }
@media (min-width: 768px) and (max-width: 992px) {
  section.services .title {
    margin-top: 80px; }
  section.services .title:before {
    top: -33px; }
  section.services .title .icon {
    margin-left: 212px; } }
@media (max-width: 768px) {
  section.services .title {
    margin-top: 80px; }
  section.services .title:before {
    top: -33px;
    left: 50%; }
  section.services .title .icon {
    margin: auto; } }
section.video {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin: 0;
  margin-top: 120px;
  padding: 0;
  background-color: #000; }
section.video .headline {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 180px, 0 180px);
  z-index: 300;
  width: 55%;
  margin: 0 0;
  padding: 20px;
  padding-left: 110px;
  background-color: rgba(237, 22, 81, 0.85);
  color: #fff; }
section.video .headline .col-lg-12 {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out; }
section.video .headline h1 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: left; }
section.video .headline p {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 300; }
section.video .headline .icon {
  top: 20px;
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out; }
section.video .headline .icon .fa {
  display: block;
  border: 2px solid #fff;
  padding: 19px;
  padding-left: 22px;
  font-size: 18px;
  width: 58px;
  height: 58px;
  border-radius: 100%; }
section.video .headline .icon .fa.fa-pause {
  padding-left: 20px; }
section.video video {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  width: 100%;
  margin: 0;
  opacity: 0.4; }
section.video.wrapped .headline {
  left: -38.2%; }
section.video.wrapped video {
  opacity: 1; }

@media (max-width: 768px) {
  section.video .headline {
    position: relative;
    -webkit-clip-path: none;
    width: 100%; }
  section.video.wrapped .headline {
    left: 0; } }
section.callToAction {
  margin-top: -5px;
  background: url("../img/background1.png");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px; }
section.callToAction h1 {
  margin-top: 10px;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  letter-spacing: 3px; }
section.callToAction .buttons {
  text-align: right; }
section.callToAction .buttons a.btn {
  margin-left: 10px;
  border-color: #fff;
  box-shadow: inset 0 0 0 0 #fff; }
section.callToAction .buttons a.btn:hover {
  box-shadow: inset 0 -50px 0 0 #fff;
  color: #0c508a; }
section.callToAction .buttons a.btn.special {
  box-shadow: inset 0 50px 0 0 #ed1651;
  border: 1px solid #ed1651; }
section.callToAction .buttons a.btn.special:hover {
  box-shadow: inset 0 0px 0 0 #ed1651;
  color: #ed1651; }

@media (max-width: 992px) {
  section.callToAction h1 {
    text-align: center;
    margin-bottom: 40px; }
  section.callToAction .buttons {
    text-align: center; } }
section.gallery {
  overflow: hidden; }
section.gallery .swiper-container {
  overflow: visible; }
section.gallery .swiper-slide {
  overflow-y: visible; }
section.gallery .controller {
  height: 60px; }
section.gallery .controller .gallery-prev, section.gallery .controller .gallery-next {
  position: absolute;
  padding: 20px;
  background-color: #ececec;
  line-height: 20px;
  font-weight: 300; }
section.gallery .controller .gallery-prev i, section.gallery .controller .gallery-next i {
  font-size: 20px; }
section.gallery .controller .gallery-prev {
  left: 0; }
section.gallery .controller .gallery-next {
  right: 0; }
section.gallery .controller .gallery-next i {
  margin-left: 20px; }
section.gallery figure {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  width: 25%;
  float: left;
  overflow: hidden; }
section.gallery figure img.photo {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  width: 100%;
  z-index: 10;
  opacity: 1;
  -webkit-filter: grayscale(50%); }
section.gallery figure figcaption {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  position: absolute;
  z-index: 11;
  bottom: 0;
  width: 100%;
  height: 30%;
  padding: 10px; }
section.gallery figure figcaption h4 {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  font-weight: 600; }
section.gallery figure figcaption ul.tags {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  padding: 0;
  margin: 0;
  list-style: none; }
section.gallery figure figcaption ul.tags li {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  font-size: 11px;
  text-transform: uppercase;
  color: #0c508a;
  display: inline; }
section.gallery figure figcaption ul.tags li:after {
  content: ','; }
section.gallery figure figcaption ul.tags li:last-child:after {
  content: ''; }
section.gallery figure figcaption .btn {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  color: #0c508a;
  -webkit-transform: scale(0);
  padding: 5px 40px;
  margin-top: 0;
  text-transform: none;
  letter-spacing: 0;
  border: 0;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: inset 0 35px 0 #fff, inset 0 0 0 1px #fff; }
section.gallery figure figcaption .btn:hover {
  box-shadow: inset 0 0px 0 #fff, inset 0 0 0 1px #fff;
  color: #fff; }
section.gallery figure svg {
  position: absolute;
  bottom: -1px;
  /* fixes rendering issue in FF */
  z-index: 10;
  width: 101%;
  height: 100%; }
section.gallery figure svg .background {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  fill: #ececec; }
section.gallery figure:hover {
  z-index: 100;
  box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1); }
section.gallery figure:hover figcaption {
  padding: 30px;
  height: 55%;
  width: 100%; }
section.gallery figure:hover figcaption h4 {
  font-size: 16px; }
section.gallery figure:hover figcaption ul.tags li {
  color: #fff;
  font-size: 10px; }
section.gallery figure:hover .btn {
  -webkit-transform: scale(1); }
section.gallery figure:hover .background {
  fill: #0c508a;
  opacity: 0.8; }
section.gallery figure .loading {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 33%; }
section.gallery figure.reload {
  background-color: #0c508a; }
section.gallery figure.reload img, section.gallery figure.reload svg, section.gallery figure.reload figcaption {
  opacity: 0; }

@media (min-width: 768px) and (max-width: 1199px) {
  section.gallery .swiper-container {
    overflow: visible; }
  section.gallery figure {
    width: 33.333%; }
  section.gallery figure figcaption {
    padding: 5px 10px; }
  section.gallery figure:hover figcaption {
    padding: 20px; } }
@media (min-width: 768px) and (max-width: 992px) {
  section.gallery .swiper-container {
    overflow: visible; }
  section.gallery figure figcaption {
    padding: 0 20px; }
  section.gallery figure:hover figcaption {
    padding: 0 20px; } }
@media (max-width: 768px) {
  section.gallery figure {
    width: 50%; }
  section.gallery figure figcaption {
    padding: 5px 10px; }
  section.gallery figure:hover figcaption {
    padding: 20px; } }
section.blog {
  background-color: #efefef;
  padding-bottom: 120px; }
section.blog article {
  margin-bottom: 40px; }
section.blog article:hover figurecaption {
  opacity: 1; }
section.blog article figure img {
  width: 100%; }
section.blog article figure figurecaption {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.618);
  padding: 20px;
  display: flex;
  justify-content: center; }
section.blog article figure figurecaption .btn {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  align-self: center;
  box-shadow: inset 0 -50px 0 0 #0c508a;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px; }
section.blog article figure figurecaption .btn:hover {
  box-shadow: inset 0 0 0 0 #0c508a;
  color: #0c508a; }
section.blog article figure figurecaption .btn i {
  margin-right: 10px; }
section.blog article .meta {
  margin-top: 10px;
  font-size: 12px;
  color: #b7b7b7; }
section.blog article hr {
  border-color: #dbdbdb; }
section.blog article p {
  color: #a8a8a8;
  line-height: 22px; }
section.blog .morepostscontainer {
  text-align: center; }
section.blog a.btn.moreposts {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  margin: auto;
  background-color: transparent;
  border: 1px solid #0c508a;
  border-radius: 5px;
  padding: 20px 40px;
  color: #0c508a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  box-shadow: inset 0 0px 0 #0c508a; }
section.blog a.btn.moreposts:hover {
  box-shadow: inset 0 -60px 0 #0c508a;
  color: #fff; }

section.team {
  background-color: #ed1651;
  background: url("../img/team_background.png") fixed;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 120px;
  text-align: center;
  min-height: 780px; }
section.team .arrow-right {
  position: absolute;
  top: 168%;
  right: 10%;
  cursor: pointer; }
section.team .arrow-right i {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  font-size: 60px; }
section.team .arrow-right i:hover {
  color: #fff; }
section.team .arrow-left {
  position: absolute;
  top: 168%;
  left: 10%;
  cursor: pointer; }
section.team .arrow-left i {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  font-size: 60px; }
section.team .arrow-left i:hover {
  color: #fff; }
section.team .team-carousel {
  width: 700px;
  margin: auto; }
section.team .member {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  max-width: 280px;
  position: absolute;
  left: 210px; }
section.team .member img {
  width: 100%;
  border-radius: 999px; }
section.team .member h4 {
  text-transform: uppercase;
  color: #0c508a;
  font-weight: 600;
  text-align: center; }
section.team .member h6 {
  color: #fff;
  text-align: center; }
section.team .member hr {
  width: 61.8%;
  border-color: rgba(255, 255, 255, 0.2); }
section.team .member .social {
  color: #fff;
  color: rgba(255, 255, 255, 0.382);
  font-size: 20px;
  text-align: center; }
section.team .member .social i {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  margin: auto 4px; }
section.team .member.center {
  left: 210px;
  z-index: 10; }
section.team .member.center .social i {
  cursor: pointer; }
section.team .member.center .social i:hover {
  color: #fff; }
section.team .member.left, section.team .member.right {
  opacity: 0.5;
  -webkit-transform: scale(0.75); }
section.team .member.left {
  left: 0; }
section.team .member.right {
  left: 420px; }
section.team .member.hiddenMember {
  -webkit-transform: scale(0.33);
  opacity: 0.0; }

@media (max-width: 768px) {
  section.team .team-carousel {
    width: 100%; }
  section.team .member.left, section.team .member.right {
    opacity: 0;
    pointer-events: none; }
  section.team .member.center {
    width: 50%;
    left: 25%; } }
section.features h1 {
  margin-bottom: 20px; }
section.features p {
  line-height: 30px;
  color: #929292;
  margin-bottom: 30px; }
section.features a {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  margin-right: 10px;
  float: left; }
section.features a.tour {
  border-color: #ed1651;
  box-shadow: inset 0 -50px 0 0 #ed1651; }
section.features a.tour:hover {
  color: #fff;
  box-shadow: inset 0 0px 0 0 #ed1651;
  color: #ed1651; }
section.features a.buy {
  border-color: #0c508a;
  box-shadow: inset 0 -50px 0 0 #0c508a; }
section.features a.buy:hover {
  color: #fff;
  box-shadow: inset 0 0px 0 0 #0c508a;
  color: #0c508a; }
section.features a:focus {
  color: #fff; }
section.features .description {
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  opacity: 0;
  left: -100px; }
section.features .ipads {
  min-height: 500px; }
section.features .ipads .ipad {
  position: absolute; }
section.features .ipads .ipad.white {
  -webkit-transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  left: 340px;
  opacity: 0.1; }
section.features .ipads .ipad.black {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  left: 100px;
  z-index: 200;
  opacity: 0.1; }
section.features .ipads:hover .white {
  left: 260px; }
section.features .ipads:hover .black {
  left: -20px; }
section.features.come-in .description {
  left: 0;
  opacity: 1; }
section.features.come-in .ipads .ipad.white {
  left: 260px;
  opacity: 1; }
section.features.come-in .ipads .ipad.black {
  left: 0;
  opacity: 1; }

section.map {
  margin: 0; }
section.map .infobox-wrapper {
  display: none; }
section.map #infobox {
  width: 185px;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  padding: 20px; }
section.map #infobox h5 {
  margin: 0;
  line-height: 20px;
  color: #ed1651; }
section.map #infobox:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 7px solid rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 50%;
  left: -7px; }

section.contact {
  background-color: #f6f6f6;
  padding-bottom: 100px; }
section.contact h4 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #0c508a; }
section.contact p {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 24px; }
section.contact input, section.contact textarea {
  -webkit-transition: 0.23s ease-in-out;
  -moz-transition: 0.23s ease-in-out;
  -o-transition: 0.23s ease-in-out;
  transition: 0.23s ease-in-out;
  font-size: 12px;
  color: #bbb;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: inset 0 0 0 #0c508a; }
section.contact input:hover, section.contact textarea:hover {
  box-shadow: inset 0 -2px 0 #0c508a; }
section.contact input:focus, section.contact textarea:focus {
  box-shadow: inset 0 -36px 0 #0c508a;
  color: #fff;
  outline: none; }
section.contact input:focus::-webkit-input-placeholder, section.contact textarea:focus::-webkit-input-placeholder {
  color: #fff; }
section.contact button {
  background-color: #0c508a;
  box-shadow: none;
  border: 1px solid #0c508a;
  border-radius: 2px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  box-shadow: inset 0 -50px 0 0 #0c508a; }
section.contact button:hover {
  box-shadow: inset 0 0 0 0 #0c508a; }
section.contact textarea {
  height: 100px; }
section.contact textarea:focus {
  box-shadow: inset 0 -100px 0 #0c508a; }

footer {
  /*background: url("../img/footer.png");*/
  background: rgba(0,0,0,0.7);
  background-size: cover;
  /*padding-bottom: 100px;*/
}
.social-links {
  list-style: none;
}

.social-links li {
  display: inline;
  float: left;
  line-height: 32px;
  background: #202020;
  margin-right: 6px;
  border-radius: 3px;
  margin-top: 1px;
  -webkit-transition: background 0.2s ease-out 0s;
  -moz-transition: background 0.2s ease-out 0s;
  -o-transition: background 0.2s ease-out 0s;
  -ms-transition: background 0.2s ease-out 0s;
  transition: background 0.2s ease-out 0s;
  width: 30px;
  text-align: center;
}

.social-links li a i {
  width: 30px;
  text-align: center;
}

footer .goUp {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  font-size: 20px;
  background-color: #f6f6f6;
  width: 60px;
  padding: 5px;
  margin: auto;
  color: #0c508a;
  text-align: center;
  border-radius: 0 0 5px 5px; }
footer .goUp:hover {
  padding-top: 20px;
  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.5); }
footer .logo {
  margin-top: 80px; }
footer h3 {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 40px;
}
.footer-links {
  padding: 0;
  margin-left: 10px;
}
.footer-links li {
  background: url(http://www.bridgeeg.com/bridge/templates/insightfx/images/k2catul1.png) no-repeat scroll left center transparent;
  list-style: none !important;
  padding-left: 15px;
  line-height: 2.2em;
  transition: all 0.5s ease;
}
.footer-links li:hover {
  background: url(http://www.bridgeeg.com/bridge/templates/insightfx/images/k2catul1.png) no-repeat scroll left center transparent;
  list-style: none !important;
  padding-left: 20px;
  line-height: 2.2em;
}
.footer-links li a {
  text-decoration: none;
  line-height: 2.2em !important;
  color: #FFF !important;
}
.footer-links li a:hover {
  color: #bababa !important;
}
footer .footer-title {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
  position: relative;
}
footer .footer-title span {
  display: block;
  height: 1px;
  width: 50px;
  position: absolute;
  bottom: -1px;
  background-color: #0199af !important;
}
footer .social i {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  padding: 10px;
  margin-top: 20px; }
footer .social a:hover i {
  color: #fff; }
footer hr {
  width: 20%;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }
footer .copyright {
  color: #fff;
  font-weight: 300; }

body.blog {
  padding-top: 100px;
  background-color: #efefef; }
body.blog header {
  height: 60px; }
/*body.blog header .top-menu {*/
  /*background-image: url(../img/blog_slider_bckg.png);*/
  /*background-size: cover; }*/
body.blog article {
  margin-bottom: 120px; }
body.blog article .content img {
  width: 100%;
  border-radius: 6px; }
body.blog article .content h3 {
  margin-top: 10px; }
body.blog article .content p {
  text-align: justify;
  line-height: 24px;
  color: #676767;
  margin-top: 10px; }
body.blog article .content button, body.blog article .content .btn {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  text-transform: none;
  letter-spacing: 0;
  box-shadow: inset 0 30px 0 0 #ed1651;
  border: 1px solid #ed1651; }
body.blog article .content button i, body.blog article .content .btn i {
  margin-right: 10px; }
body.blog article .content button:hover, body.blog article .content .btn:hover {
  box-shadow: inset 0 0 0 0 #ed1651;
  color: #ed1651; }
body.blog article aside {
  padding: 0; }
body.blog article aside .box {
  height: 60px;
  width: 100%;
  background: #ed1651;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  padding: 10px 0; }
body.blog article aside .box .fa {
  font-size: 32px;
  margin-top: 5px; }
body.blog article aside .box.date .day {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px; }
body.blog article aside .box.date .rest {
  line-height: 24px;
  font-size: 12px;
  font-weight: 300; }
body.blog article aside .box.comments .fa {
  margin-top: -5px; }
body.blog article aside .box.avatar {
  padding: 0;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 20px; }
body.blog article aside .box.avatar img {
  width: 100%; }
body.blog aside input {
  -webkit-transition: 0.33s ease-in-out;
  -moz-transition: 0.33s ease-in-out;
  -o-transition: 0.33s ease-in-out;
  transition: 0.33s ease-in-out;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #cbcbcb; }
body.blog aside input:hover {
  box-shadow: inset 0 -2px 0 0 #0c508a; }
body.blog aside input:focus {
  color: #fff;
  outline: none;
  box-shadow: inset 0 -50px 0 0 #0c508a; }
body.blog aside input:focus::-webkit-input-placeholder {
  color: #fff; }
body.blog aside section {
  margin-top: 40px;
  padding: 0; }
body.blog aside section h4 {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 20px;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb; }
body.blog aside article {
  margin-bottom: 20px; }
body.blog aside .photo {
  width: 100%;
  height: 60px;
  overflow: hidden; }
body.blog aside .photo img {
  width: 100%; }
body.blog aside h5 {
  margin: 0;
  letter-spacing: -1px;
  color: #6f6f6f; }
body.blog aside aside {
  font-size: 12px;
  color: #a2a2a2; }
body.blog aside aside.comments {
  color: #0c508a; }
body.blog aside aside.comments .fa {
  font-size: 20px;
  margin-right: 5px; }
body.blog aside ul {
  margin: 0 15px;
  padding-left: 25px; }
body.blog aside ul li {
  padding: 10px;
  font-weight: 300;
  color: #7d7d7d; }
body.blog aside ul li .amount {
  float: right;
  color: #333; }
body.blog aside ul li:hover {
  background-color: #0c508a;
  box-shadow: -25px 0 #0c508a;
  color: #fff; }
body.blog aside ul li:hover .amount {
  color: #fff; }
body.blog aside .tags {
  margin-left: 0; }
body.blog aside .tags h4 {
  margin-left: 5px; }
body.blog aside .tag {
  background-color: #0c508a;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  float: left;
  margin: 5px; }
body.blog aside .tag.more {
  background-color: #00b8d9; }
body.blog aside .tag.most {
  background-color: #0097b3; }
body.blog aside .archives ul {
  list-style: none;
  margin: 0;
  padding-left: 15px; }
body.blog aside .archives ul li {
  margin: 0;
  padding-left: 0; }
body.blog aside .archives ul li .amount {
  color: #0c508a; }
body.blog aside .archives ul li:hover {
  background-color: transparent;
  font-weight: 500;
  box-shadow: none;
  color: #000; }
body.blog aside .archives ul li:hover .amount {
  font-weight: 500;
  color: #000; }
body.blog aside .archives button.btn {
  margin: 20px 15px;
  width: 90%;
  font-size: 12px;
  padding: 10px;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 0; }
body.blog aside .archives button.btn:hover {
  color: #0c508a; }
body.blog .pagination {
  text-align: center; }
body.blog .pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%; }
body.blog .pagination ul li {
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  margin: 0 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #878787; }
body.blog .pagination ul li:hover {
  background-color: #0c508a;
  border: 1px solid #0c508a;
  color: #fff; }
body.blog .pagination ul li.next, body.blog .pagination ul li.prev {
  background-color: #222;
  color: #fff; }
body.blog .pagination ul li.next:hover, body.blog .pagination ul li.prev:hover {
  background-color: #0c508a;
  color: #fff; }
body.blog footer .goUp {
  background-color: #efefef; }

body.gallery_single {
  padding-top: 100px;
  background-color: #efefef; }
body.gallery_single header {
  height: 60px; }
body.gallery_single header .top-menu {
  background-image: url(../img/blog_slider_bckg.png);
  background-size: cover; }
body.gallery_single h3.title {
  font-weight: 400;
  margin-bottom: 120px; }
body.gallery_single .control {
  text-align: right; }
body.gallery_single .control a {
  color: inherit; }
body.gallery_single .control .fa {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
  text-align: center;
  line-height: 40px;
  margin: 0px;
  padding: 0; }
body.gallery_single .control .fa.fa-angle-right, body.gallery_single .control .fa.fa-angle-left {
  background: #0c508a; }
body.gallery_single .control .fa.fa-angle-right:hover, body.gallery_single .control .fa.fa-angle-left:hover {
  background: #ed1651; }
body.gallery_single figure {
  margin-bottom: 120px; }
body.gallery_single figure img {
  width: 100%; }
body.gallery_single figure figcaption {
  margin-top: 60px; }
body.gallery_single figure figcaption .description {
  color: #a8a8a8;
  text-align: justify; }
body.gallery_single figure figcaption .description p {
  line-height: 24px;
  margin-bottom: 24px; }
body.gallery_single figure figcaption aside ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none; }
body.gallery_single figure figcaption aside ul li {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #cbcbcb; }
body.gallery_single figure figcaption aside ul li .fa {
  color: #0c508a;
  margin-right: 10px; }
body.gallery_single figure figcaption aside ul .share strong {
  float: right; }
body.gallery_single figure figcaption aside ul.social {
  padding: 0 50px;
  display: flex;
  justify-content: space-between; }
body.gallery_single figure figcaption aside ul.social li {
  border: 0; }
body.gallery_single figure figcaption aside ul.social i {
  color: #676767; }
body.gallery_single figure figcaption aside ul.social a:hover i {
  color: #0c508a; }
body.gallery_single section.gallery figure {
  width: 33.333%; }

.footer-area {
  background-color: #FFF;
  text-align: center;
  padding: 65px 0 0 0
}

.footer-area .main-footer {
  text-align: left;
  padding-bottom: 64px;
  border-bottom: 2px solid rgba(85,85,85,.15)
}

.footer-area .main-footer li {
  margin: 3px 0
}

.footer-area .main-footer .column-title {
  color: #28388D;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 14px
}

.footer-area .main-footer .column-content a {
  color: #3d54dd;
  font-size: 14px;
  font-weight: 500;
  font-family: Raleway,sans-serif
}

.footer-area .main-footer .column-content a:focus,.footer-area .main-footer .column-content a:hover {
  color: #3246bc
}

.footer-area .main-footer .brand-logo {
  color: #28388D;
  margin-bottom: 12px;
  font-family: "Exo 2",sans-serif;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: .7px;
  line-height: 100%
}

.footer-area .main-footer .brand-description {
  color: #28388D;
  font-size: 13px
}

.footer-area .mini-footer {
  padding: 15px 0
}

.footer-area .mini-footer .social-medias {
  float: right
}

.footer-area .mini-footer .social-medias a {
  height: 26px;
  width: 26px;
  display: inline-block;
  background-color: #222;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  line-height: 27px;
  margin: 0 3px;
  transition: all .1s ease-in-out
}

.footer-area .mini-footer .social-medias a.twitter {
  background-color: #1da1f2
}

.footer-area .mini-footer .social-medias a.twitter:focus,.footer-area .mini-footer .social-medias a.twitter:hover {
  background-color: #0d8cda
}

.footer-area .mini-footer .social-medias a.instagram {
  background-color: #c32361
}

.footer-area .mini-footer .social-medias a.instagram:focus,.footer-area .mini-footer .social-medias a.instagram:hover {
  background-color: #a01d50
}

.footer-area .mini-footer .social-medias a.linkedin {
  background-color: #0077b5
}

.footer-area .mini-footer .social-medias a.linkedin:focus,.footer-area .mini-footer .social-medias a.linkedin:hover {
  background-color: #005c8c
}

.footer-area .mini-footer .social-medias a.youtube {
  background-color: #c33a38
}

.footer-area .mini-footer .social-medias a.youtube:focus,.footer-area .mini-footer .social-medias a.youtube:hover {
  background-color: #a3312f
}

.footer-area .mini-footer .social-medias a.github {
  background-color: #6e5494
}

.footer-area .mini-footer .social-medias a.github:focus,.footer-area .mini-footer .social-medias a.github:hover {
  background-color: #5b457a
}

.footer-area .mini-footer .social-medias a.facebook {
  background-color: #3b5998
}

.footer-area .mini-footer .social-medias a.facebook:focus,.footer-area .mini-footer .social-medias a.facebook:hover {
  background-color: #30487b
}

.footer-area .mini-footer .social-medias a.dribbble {
  background-color: #c32361
}

.footer-area .mini-footer .social-medias a.dribbble:focus,.footer-area .mini-footer .social-medias a.dribbble:hover {
  background-color: #a01d50
}

.footer-area .mini-footer .copyright-notice {
  float: left;
  color: #28388D;
  margin-bottom: 0
}

@media (max-width: 575.98px) {
  .footer-area .main-footer {
    text-align:center;
    padding-bottom: 15px
  }

  .footer-area .main-footer .column-content {
    margin-bottom: 30px
  }

  .footer-area .mini-footer {
    padding: 25px 0;
    text-align: center
  }

  .footer-area .mini-footer .social-medias {
    float: none;
    margin-bottom: 13px
  }

  .footer-area .mini-footer .copyright-notice {
    float: none;
    font-size: 13px
  }
}
