/* 85 of 1677 CSS properties converted by rtl.daskhat.ir
 These properties should be override originals.
 just load rtl css file after original css file.*/

/* body {direction:rtl;} */

.fa-ul{
  padding-right: 0;
  margin-right: 2.14285714em;
  margin-left: 0;
}

.fa-li{
  right: -2.14285714em;
  left: auto;
}

.fa-li.fa-lg{
  right: -1.85714286em;
  left: auto;
}

.pull-right{
  float: left;
}

.pull-left{
  float: right;
}

.fa.pull-left{
  margin-left: .3em;
  margin-right: 0;
}

.fa.pull-right{
  margin-right: .3em;
  margin-left: 0;
}

.fa-stack-1x, .fa-stack-2x{
  right: 0;
  left: auto;
}

#loader #loading-bar{
  right: 25%;
  left: auto;
}

header .swiper-container .swiper-slide.video video{
  right: 0;
  left: auto;
}

header .swiper-controls .arrow .prev_thumbnail{
  right: 80px;
  left: auto;
}

header .swiper-controls .arrow .next_thumbnail{
  left: 80px;
  right: auto;
}

header .swiper-controls .arrow:hover .next_thumbnail{
  left: 95px;
  right: auto;
}

header .swiper-controls .arrow:hover .prev_thumbnail{
  right: 95px;
  left: auto;
}

header .swiper-controls .arrow.left{
  right: 5%;
  left: auto;
}

header .swiper-controls .arrow.right{
  left: 5%;
  right: auto;
}

header .info .inner{
  margin-right: 3px;
  margin-left: 0;
}

header .info img{
  margin-right: 1px;
  margin-left: 0;
}

header nav ul{
  text-align: left;
}

section.services .carousel-caption{
  right: 0;
  left: auto;
}

section.services .description p{
  text-align: right;
}

section.services .title:before{
  right: 50%;
  left: auto;
}

section.services .title .icon{
  margin-right: 30px;
  margin-left: 0;
}

section.services .controller ul li:before{
  margin-right: 50%;
  margin-left: 0;
}

@media (min-width: 992px) and (max-width: 1199px){
  section.services .title .icon{
    margin-right: 318px;
    margin-left: 0;
  }

}

@media (min-width: 768px) and (max-width: 992px){
  section.services .title .icon{
    margin-right: 212px;
    margin-left: 0;
  }

}

@media (max-width: 768px){
  section.services .title:before{
    right: 50%;
    left: auto;
  }

  section.video.wrapped .headline{
    right: 0;
    left: auto;
  }

  section.team .member.center{
    right: 25%;
    left: auto;
  }

}

section.video .headline{
  right: 0;
  left: auto;
  padding-right: 110px;
  padding-left: 0;
}

section.video .headline h1{
  text-align: right;
}

section.video .headline .icon .fa{
  padding-right: 22px;
  padding-left: 0;
}

section.video .headline .icon .fa.fa-pause{
  padding-right: 20px;
  padding-left: 0;
}

section.video.wrapped .headline{
  right: -38.2%;
  left: auto;
}

section.callToAction .buttons{
  text-align: left;
}

section.callToAction .buttons a.btn{
  margin-right: 10px;
  margin-left: 0;
}

section.gallery .controller .gallery-prev{
  right: 0;
  left: auto;
}

section.gallery .controller .gallery-next{
  left: 0;
  right: auto;
}

section.gallery .controller .gallery-next i{
  margin-right: 20px;
  margin-left: 0;
}

section.gallery figure{
  float: right;
}

section.blog article figure figurecaption{
  right: 5%;
  left: auto;
}

section.blog article figure figurecaption .btn i{
  margin-left: 10px;
  margin-right: 0;
}

section.team .arrow-right{
  left: 10%;
  right: auto;
}

section.team .arrow-left{
  right: 10%;
  left: auto;
}

section.team .member{
  right: 210px;
  left: auto;
}

section.team .member hr{
  border-color: rgba(255, 0.2) 255, 255, ;
}

section.team .member.center{
  right: 210px;
  left: auto;
}

section.team .member.left{
  right: 0;
  left: auto;
}

section.team .member.right{
  right: 420px;
  left: auto;
}

section.features a{
  margin-left: 10px;
  margin-right: 0;
  float: right;
}

section.features .description{
  right: -100px;
  left: auto;
}

section.features .ipads .ipad.white{
  right: 340px;
  left: auto;
}

section.features .ipads .ipad.black{
  right: 100px;
  left: auto;
}

section.features .ipads:hover .white{
  right: 260px;
  left: auto;
}

section.features .ipads:hover .black{
  right: -20px;
  left: auto;
}

section.features.come-in .description{
  right: 0;
  left: auto;
}

section.features.come-in .ipads .ipad.white{
  right: 260px;
  left: auto;
}

section.features.come-in .ipads .ipad.black{
  right: 0;
  left: auto;
}

section.map #infobox:before{
  border-left: 7px solid rgba(0, 0, 0, 0.75);
  border-right: none;
  right: -7px;
  left: auto;
}

.social-links li{
  float: right;
  margin-left: 6px;
  margin-right: 0;
}

footer .goUp{
  border-radius: 0 0 5px 5px;
}

.footer-links{
  margin-right: 10px;
  margin-left: 0;
}

.footer-links li{
  padding-right: 15px;
  padding-left: 0;
}

.footer-links li:hover{
  padding-right: 20px;
  padding-left: 0;
}

body.blog article .content button i, body.blog article .content .btn i{
  margin-left: 10px;
  margin-right: 0;
}

body.blog aside aside.comments .fa{
  margin-left: 5px;
  margin-right: 0;
}

body.blog aside ul{
  padding-right: 25px;
  padding-left: 0;
}

body.blog aside ul li .amount{
  float: left;
}

body.blog aside .tags{
  margin-right: 0;
}

body.blog aside .tags h4{
  margin-right: 5px;
  margin-left: 0;
}

body.blog aside .tag{
  float: right;
}

body.blog aside .archives ul{
  padding-right: 15px;
  padding-left: 0;
}

body.blog aside .archives ul li{
  padding-right: 0;
}

body.gallery_single .control{
  text-align: left;
}

body.gallery_single figure figcaption aside ul li .fa{
  margin-left: 10px;
  margin-right: 0;
}

body.gallery_single figure figcaption aside ul .share strong{
  float: left;
}

.footer-area{
  padding: 65px 0 0 0 ;
}

.footer-area .main-footer{
  text-align: right;
}

.footer-area .mini-footer .social-medias{
  float: left;
}

.footer-area .mini-footer .copyright-notice{
  float: right;
}

