<template>
    <div class="box collapsed-box">

        <div class="box-header with-border">
            <h3 class="box-title">Filter</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>

        <div class="box-body" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="query">Title</label>
                        <input type="text" id="query" name="query" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="transmission_type">T. Type</label>
                        <select name="transmission_type" id="transmission_type" class="form-control">
                            <option value="0">All</option>
                            <option v-for="(name, id) in transmission_types" :value="id" :selected="id == transmission_type_id">{{ name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="query">Kilometers</label>
                        <select name="kilometer" id="kilometer" class="form-control">
                            <option value="0">All</option>
                            <option v-for="(name, id) in kilometers" :value="id" :selected="id == kilometer_id">{{ name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="hidden" id="date-from" name="date-from">
                        <input type="hidden" id="date-to" name="date-to">
                        <div class="#form-control">
                            <button type="button" class="btn btn-default" id="daterange-btn">
                    <span>
                      <i class="fa fa-calendar"></i> Date range picker
                    </span>
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Price from</label>
                        <input placeholder="Price from" type="text" name="price_from" id="price_from" class="form-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Price to</label>
                        <input placeholder="Price to" type="text" name="price_to" id="price_to" class="form-control" />
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <select multiple @change="getModels" v-model="selected_brands" name="brand" id="brand" class="form-control">
                            <!--<option value="0">All</option>-->
                            <option v-for="(brand, index) in brands" :value="index" >{{ brand }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="model">Model</label>
                        <select multiple name="model" id="model" v-model="selected_models" class="form-control">
                            <!--<option value="0">All</option>-->
                            <option v-for="(name, id) in models" :value="id" >{{ name }}</option>
                        </select>
                    </div>
                </div>



                <!--<div class="col-md-4">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" name="price_from" id="price_from" class="form-control">-->
                    <!--<div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" name="price_from" id="price_to" class="form-control">-->
                    <!--<div>-->
                <!--</div>-->


                <div class="col-md-2">
                    <div class="form-group">
                        <label>Years</label>
                        <select multiple name="years" id="years" class="form-control">
                            <option v-for="year in years" :value="year" >{{ year }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="city">City</label>
                        <select multiple name="city" id="city" class="form-control">
                            <option v-for="(city, index) in cities" :value="index" >{{ city }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 text-right">
                    <button style="margin-top: 40px;" id="filterIt" class="btn btn-block btn-success">Filter</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {

        methods: {
            getModels(brand_id) {

                // console.log(this.selected_brands)
                //
                // this.brand_id = brand_id;

                axios.post(`${config.admin_url}/ads/models`, {
                    ids: this.selected_brands
                })
                    .then( response => {

                        if ( response.status === 200 && response.data ) {

                            const data = response.data;
                            this.models = data.data;

                        } else {
                            console.log( 'ERROR' );
                        }

                    } )
                    .catch( err => {
                        console.log( err );
                    })

            },
        },

        data() {
            return {
                status: 0,
                city_id: 0,
                brand_id: 0,
                transmission_type_id: 0,
                model_id: 0,
                kilometer_id: 0,
                cities: [],
                selected_brands: [],
                selected_models: [],
                brands: [],
                models: [],
                transmission_types: [],
                kilometers: [],
                years: [],
            }
        },
        
        mounted() {

            for( let i = 1950; i <= (new Date()).getFullYear(); i++ ) {
                // console.log(this.years);
                this.years.push(i);
            }

            const filterData = window.filter_data;
            this.status = filterData.hasOwnProperty('status') ? filterData.status : 0;

            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges   : {
                        'Today'       : [moment(), moment()],
                        'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month'  : [moment().startOf('month'), moment().endOf('month')],
                        'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate  : moment()
                },
                function (start, end) {
                    $('#date-from').val( start.format('MMMM D, YYYY') )
                    $('#date-to').val( end.format('MMMM D, YYYY') )
                    $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            // get the data brands and transmission_types and kilometers then get models from the id of brand

            axios.post(config.admin_url + '/ads/filter')
                .then( response => {

                    if ( response.status === 200 && response.data ) {

                        const data = response.data;
                        this.cities = data.cities;
                        this.brands = data.brands;
                        this.transmission_types = data.transmission_types;
                        this.kilometers = data.kilometers;

                        this.city_id = filterData.hasOwnProperty('city') ? filterData.city : 0;
                        this.brand_id = filterData.hasOwnProperty('brand') ? filterData.brand : 0;
                        this.transmission_type_id = filterData.hasOwnProperty('transmission') ? filterData.transmission : 0;
                        this.model_id = filterData.hasOwnProperty('model') ? filterData.model : 0;
                        this.kilometer_id = filterData.hasOwnProperty('kilometer') ? filterData.kilometer : 0;

                        const first_brandId = Object.keys(this.brands)[0];
                        this.getModels(first_brandId)

                    } else {
                        console.log( 'ERROR' );
                    }

                } )
                .catch( err => {
                    console.log( err );
                })

        }
    }
</script>
